<footer class="main-block dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright &copy; 2019 Listing. All rights reserved | This Application is developed by <span style="color:blue;">Shiva</span></p>
                    <ul class="ul-style">
                        <li><span class="brandico-instagram"></span></li>
                        <li><span class="brandico-facebook-rect"></span></li>
                        <li><span class="brandico-twitter-bird"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>