<mat-toolbar color="primary" class="matool" fxHide.xs fxHide.sm fxHide.md>
        <div class="movel" fxFlex></div>
        <span class="header" fxFlex>The Venue Finder</span> 
        <input type="text" fxFlex placeholder="Search" class="modinput" />
        <span type="submit" class="iconicstroke-magnifying-glass modicon"></span>
        <span class="spacer" fxHide.xs ></span>
        <span class="neededmargin" fxFlex><a href="#" class="remove-default">Home</a></span>
        <span class="neededmargin" fxFlex><a href="#restaurant" class="remove-default">Find Restaurants</a></span>
        <span class="neededmargin" fxFlex><a href="#cuisi" class="remove-default">Cuisines</a></span>
        <span class="neededmargin" fxFlex>About us</span>
        <mat-list class="neededmargins" fxFlex>
            <mat-list-item>
                <img matListAvatar src="assets/images/user-icon.png" alt="Profile"/>
                <h3 matLine class="user" (click)="openLogin()">User</h3>
            </mat-list-item>
        </mat-list>
        <div class="mover" fxFlex></div>
</mat-toolbar>

<button mat-icon-button [matMenuTriggerFor]="menu" fxHide.lg>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>restaurant</mat-icon>
          <span>Find Restaurants</span>
        </button>
        <button mat-menu-item>
          <mat-icon>money</mat-icon>
          <span>Cuisines</span>
        </button>
        </mat-menu>
<span class="hevu" fxHide.lg>The Venue Finder</span>
<app-here-map
    #map
    appId="oQcTqOvtBrldQ9r8RHCo"
    appCode="XobmvFUAYDjf0pCAceHNdA"
    lat="37.7397"
    lng="-121.4252"
    width="100%"
    height="500px">
</app-here-map>
<app-show-only-some (disable)="disabled_executed($event)" id="restaurant"></app-show-only-some>
<app-cuisines-list [hidden]="nill" id="cuisi"></app-cuisines-list>
<router-outlet></router-outlet>
<app-footer></app-footer>
